// Orange Palette - Safe Mode
$bg-color: rgba(27, 9, 6, 0.85);
$accent: #FF8C00;
$moss: #3a401a;

* { all: unset; }

.main-container { background-color: transparent; }

.group-bubble {
  background-color: $bg-color;
  border: 2px solid $accent;
  border-radius: 25px;
  padding: 10px 0;
}

.arch-logo {
  font-size: 20px;
  color: $accent;
  padding: 0px 10px;
  margin: 0;
  min-height: 0;
  min-width: 0;
  &:hover { color: $moss; }
}

.workspaces {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #5c662a;
  button {
    padding: 2px 0;
    &:hover { color: $accent; }
    &.workspace-active {
      color: $accent;
    }
  }
}

.time-text {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  color: $accent;
  margin-top: 2px;
  margin-bottom: 2px;
}
